<div class="auth" @fade>
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    <div class="logo">
                        <fa-icon [icon]="faCalculator" size="lg"></fa-icon>
                    </div>
                    Калькулятор расходов
                </h1>
            </header>
            <div class="auth-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>